<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sabka Bazaar</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <main>
        <header id="page-header" class="navbar main-header">
            <section class="header-container">
                <nav class="header-container__item header-container__item--left LogoAndLinksMenu">
                    <div class="LogoAndLinksMenu__LogoContainer" role="Header Logo">
                        <a href="/" class="LogoAndLinksMenu__HomeLink" tabindex="1">
                            <img src="images/logo_2x.png" alt="Sabka Bazaar" title="Sabka Bazaar" class="LogoAndLinksMenu__Logo">
                        </a>
                    </div>
                    <ul class="LinkContainer">
                        <li class="LinkContainer__LinkWrapper">
                            <a href="/" class="LinkContainer__Link" tabindex="2">
                                <span class="LinkContainer__Link__text">Home</span>
                            </a>
                        </li>
                        <li class="LinkContainer__LinkWrapper">
                            <a href="/products" class="LinkContainer__Link" tabindex="3">
                                <span class="LinkContainer__Link__text">Products</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="header-container__item header-container__item--right">
                    <div class="header-menu__subgroup-container header-menu__subgroup-container--login-group" role="header submenu">
                        <ul class="header-menu__subgroup">
                            <li class="header-menu__item">
                                <a id="sign-in-btn" href="/login" class="sigin-in-btn" tabindex="4">
                                    <span class="signin-button__text">Sign in</span>
                                </a>
                            </li>
                            <li class="header-menu__item">
                                <a id="sign-up-btn" href="/register" class="sigin-in-btn" tabindex="5">
                                    <span class="signup-button__text" data-login-action="signup">Register</span>
                                </a>
                            </li>
                        </ul>
                        <div class="header-menu__subgroup-container header-menu__subgroup-container--cart" role="header cart container">
                            <img alt="cart" class="header-menu__subgroup-container cart" src="images/cart.svg" tabindex="6">
                            <span class="header-menu__subgroup-container item-total" tabindex="7">0 items</span>
                        </div>
                    </div>
                    
                </nav>
            </section>
        </header>
        <section class="main page-content" id="page-content">
            <aside class="page__content--aside">
            </aside>
            <article class="page__content--article">
            </article>
        </section>
        <footer>
            <section class="page-footer">
                <span tabindex="14">Copyright © 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd</span>
            </section>
        </footer>
    </main>
    <script src="dist/login-bundle.js"></script>
</body>
</html>