@import './colors.scss';
@import './fonts.scss';
body {
    width: 90%;
    margin: 0 auto;
    font-family: Dosis;
}
*, :after, :before {
    box-sizing: border-box;
}

/* Header */
.main-header {
    height: 100px;
    margin: 0 auto;
    box-shadow: 0 10px 8px -6px #777;
}
.LogoAndLinksMenu__LogoContainer {
    display: inline-block;
    position: relative;
    padding: 10px;
}
.LogoAndLinksMenu__Logo{
    width: 180px;
    height: 80px;
}
.LogoAndLinksMenu__HomeLink {
    display: inline-block;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.LinkContainer__Link {
    display: inline-block;
    padding: 0 20px;
    line-height: 100px;
    font-weight: 700;
    min-width: 44px;
    color: $grey1;
}
.header-container {
    display: flex;
}
.header-container__item.header-container__item--left {
    flex: none;
    display: inline-block;
}

.LinkContainer {
    display: inline-block;
    position: relative;
    top: -2em;
    margin-left: 5em;
}
.LinkContainer__LinkWrapper {
    display: inline-block;
    box-sizing: border-box;
}
.header-container__item.header-container__item--right {
    flex: 1;
    display: inline-flex;
    position: relative;
    justify-content: flex-end;
}
.header-menu__subgroup-container.header-menu__subgroup-container--cart {
    padding: 5px 10px;
    background: $grey2;
}
.header-menu__subgroup {
    display: inline-flex;
}
.sigin-in-btn {
    padding: 0 15px;
    color: $grey1;
}
.header-menu__subgroup-container.cart {
    width: 50px;
}
.header-menu__subgroup-container.item-total {
    position: relative;
    top: -1em;
}

/* Header ends */

/* Main Content */
.main.page-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Carousel */
* {box-sizing:border-box}
.carousel {
    margin-top: 1em;
}
/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
    width: 80%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot-container {
    text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Carousel ends */
.page__content--aside, .page__content--article
{
    flex: 1;
    flex-wrap: wrap;
    padding: 2em;
}
.form-group {
    margin-block-start: 1em;
}
.form-control {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    height: 35px;
}

.login--label {
    display: block;
}
.form-control.login, .form-control.signup {
    border: none;
    background: $crimson;
    height: 50px;
    color: $white;
}
.category-item {
    display: flex;
    margin: 1em auto;
    box-shadow: 0 10px 8px -6px #777;
}
.category-item .category-image {
    width: 30%;
}
.category-item.row-reverse {
    flex-direction: row-reverse;
}
.category-item:last-child {
    box-shadow: none;
}
.category-detail{
    text-align: center;
    flex: 4;
}
.category-list__button {
    margin: 0.5em;
    height: 50px;
    min-width: 200px;
    background: $crimson;
    color: white;
    border: none;
}
.page-content__products {
    display: flex;
    flex-wrap: wrap;
}
.page-content__category {
    flex: 1;
    background: $grey3;
    // margin: 1em auto;
}
.category-dropdown.small {
    display: none;
}
.nav-list {
    padding-left: 10px;    
}
.nav-list-item {
    border-bottom: 1px dotted;
    padding: 10px 20px;
}
.nav-list-item .category-link {
    color: $grey1;
}
.page-content__productsList {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}
/* Card */
.card {
    box-shadow: 4px 0 8px -5px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: 1em;
    text-align: center;
    font-family: arial;
    border-bottom: 1px dotted black;
}
.card-heading {
    min-height: 5.3em;
}
.price {
color: grey;
font-size: 22px;
}
.card-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.card-content img {
    width: 95%;
    margin: 0 auto;
    height: 150px;
}
.product-desc {
    background: $grey3;
    height: 100px;
    margin-bottom: 1em;
}
.product-desc.truncate {
width: 97%;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: unset;
    padding-bottom: 8em;
}
.product-price {
    flex: 1;
}
.card-button {
    flex: 2;
}

.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: $crimson;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}

.card button.large {
    display: block;
}
.card button.small {
display: none;
}
  
/* Card ends */
/* Main content ends */

/* Footer */
.page-footer {
    background: $grey2;
    text-align: center;
}
/* Footer ends */

@media (max-width: 568px) {
    .LinkContainer, .header-menu__subgroup {
        display: none;
    }
    .product-price {
        display: none;
    }
    .card button.small {
        display: block;
    }
    .card button.large {
        display: none;
    }
    .page-content__category {
        flex: 0;
    }
    .category-dropdown.small{
        display: block;
        background: $crimson;
        color: white;
        padding: 1em;
    }
    .category-dropdown.small a{
        float: right;
        color: white;
    }
    .nav-list {
        display: none;
    }
}